[Unit]
Description=Rewrite Valkey's append-only log hourly

[Timer]
OnCalendar=hourly
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target
